.btn {
    text-align: center;
    margin: 50px
}
.btn2 {
    text-align: right;
    padding: 50px;
    margin: 50px;  
}
button {
    color:white; 
    background-color: blue;
    border-color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px; 
}

.flex-container {
    width: 1000px;
    height: auto;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Card {
    width: 200px; 
    height: 250px; 
    border-radius: 20px;
    background-color: gray;
    color: white; 
    font-size: 30px; 
    text-align: center;
    line-height: 250px; 
    margin: 20px; 
}
img {
    border-radius: 20px;
}
h1 {
    font-family: cursive;
    font-size: 35px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 24px;
    font-family: cursive;
}
.pts {
    font-family: cursive;
    display: flex;
    text-align: row;
    padding: 0px 0px 0px 80%
}
#title {
    font-family: cursive;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;

}
.Left {
    font-family: cursive;
    text-align: center;
    font-size: 20px;
}
.Right {
    font-family: cursive;
    display: flex; 
    text-align: row; 
    padding: 0px 0px 0px 25px; 
}
